<div class="navbar">
    <div class="homeDiv">
        <img src="./assets/images/icons/home-icon.png" id="#home-icon">
    </div>

    <div class="searchDiv">
        <img src="./assets/images/icons/search-icon.png" id="#search-icon">
    </div>

    <div class="plusDiv">
        <img src="./assets/images/icons/plus-icon.png" id="#plus-icon">
    </div>

    <div class="userprofileDiv">
        <img src="./assets/images/icons/userprofile.png" id="#userprofile-icon" style="width: 36px; height: 36px;">
    </div>

    <div class="messageDiv">
        <img src="./assets/images/icons/message-icon.png" id="#message-icon">
    </div>
</div>