.background-image-div{
    background-color: black;
    position:absolute;
    z-index: -1;
}
img#\#backgroundIMG{
    z-index: 100;
    opacity: 0.6;
    width: var(--dimension-width);
    height: var(--dimension-height);
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myBtn{
    background-color: var(--color-red);
    width: 300px;
    height: 60px;
    color: var(--color-white);
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 25px;
}
.myBtnWhite{
    background-color: #EEEDED;
    width: 300px;
    height: 60px;
    color: var(--color-background-black);
    border-radius: 20px;
    font-size: 25px;
}
.title{
    width: 100%;
    text-align:center;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin-bottom: 360px;
    margin-top: 60px;
    color: var(--color-red,red);
}