.title{
    width: 100%;
    text-align:center;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin-bottom: 360px;
    margin-top: 60px;
    color: var(--color-red,red);
}
#signup-screen{
    background-color: var(--color-background-black);
}